.bookshelf {
  text-align: center;
}

.smallTable {
  margin-left: 6%;
  margin-right: 6%;
  width: 16%;
}

.bigTable {
  margin-left: 5%;
  margin-right: 5%;
  width: 20%;
}

.tables {
  text-align: center;
}

.book {
  background-color: #d2a56d;
  border-style: solid;
  border-width: 10px;
  border-color: brown;
}

.book:hover {
  transform: scale(1.1);
}

.tooltip {
  display: inline-block;
  width: 16%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #73b11c;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: Chalkduster;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
