.bookshelf {
  text-align: center;
}

.table {
  margin-left: 5%;
  margin-right: 5%;
}

.book {
  background-color: #d2a56d;
  border-style: solid;
  border-width: 10px;
  border-color: brown;
  width: 13%;
}

.book:hover {
  transform: scale(1.1);
  cursor: pointer;
}
