/* Any global css should go here, like fonts we want to use throughout the application */

html {
  margin: 0px;
  padding: 0px;
  background-color: #4C6924;
}

body {
  margin: 0
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
