/* Any global css should go here, like fonts we want to use throughout the application */

html {
  margin: 0px;
  padding: 0px;
  background-color: #4C6924;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  height: 100vh;
}

body {
  height: 100vh;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
